<h1>{{title}}</h1>
<!-- <app-heroes></app-heroes> -->
<nav>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>&nbsp;&nbsp;
    <a routerLink="/heroes" routerLinkActive="active">Heroes</a>&nbsp;&nbsp;
    <a  routerLink="/echart" routerLinkActive="active">echart</a>&nbsp;&nbsp;
    <a routerLink="/echart2" routerLinkActive="active">echart2</a>&nbsp;&nbsp;
    <a routerLink="/echart3" routerLinkActive="active">echart3</a>&nbsp;&nbsp;
    <a routerLink="/echart4" routerLinkActive="active">echart4</a>&nbsp;&nbsp;
    <a routerLink="/echart5" routerLinkActive="active">echart5</a>&nbsp;&nbsp;
  </nav>
<router-outlet></router-outlet>
<app-messages></app-messages>