<div class="top">我是top图片</div>
<div class="conent">
    <div class="con1">
        <div class="con1-left left">
            <div class="echartBox1 bg">我是上左</div>
        </div>
        <div class="con1-center left">
            <div class="echartBox1 bg">
                <div class="echartTop">
                    <div class="echartTitle">
                        场域活跃用户角色分布
                    </div>
                    <div class="switch">
                        <a class="on">近一周</a>
                        <a class="off">近一月</a>
                    </div>
                </div>

                <div class="fengEchart2">
                    <app-echart2></app-echart2>
                </div>

            </div>
        </div>
        <div class="con1-right left">
            <div class="echartBox1 bg">
                <div class="echartTop">
                    <div class="echartTitle smallTitle">
                        场域活跃用户分布
                    </div>
                    <div class="switch">
                        <a class="on">近一周</a>
                        <a class="off">近一月</a>
                    </div>
                </div>

                <div class="fengEchart3">
                    <app-echart3></app-echart3>
                </div>
            </div>
        </div>
    </div>
    <div class="con2">
        <div class="con2-left left">
            <div class="echartBox1 bg">

                <div>我是下左</div>
                <div class="fengEchart5">
                    <app-echart5></app-echart5>
                </div>

            </div>
        </div>
        <div class="con2-center left">
            <div class="echartBox1 bg">我是下中</div>
        </div>
        <div class="con2-right left">
            <div class="echartBox1 bg">
                <div> 我是下右</div>
                <div class="fengEchart4">
                    <app-echart4></app-echart4>
                </div>
            </div>
        </div>
    </div>
</div>