<div class="top">我是top图片</div>
<div class="conent">
    <div class="con1">
        <div class="con1-left left">
            <div class="echartBox1 bg">我是上左</div>
        </div>
        <div class="con1-center left">
            <div class="echartBox1 bg">
                <div>我是上中
                   
                </div>
                <div>
                     <app-echart2></app-echart2>
                </div>
                
            </div>
        </div>
        <div class="con1-right left">
            <div class="echartBox1 bg">
                <div>
                    我是上右
                </div> 
            
                <div class="fengEchart3">
                    <app-echart3></app-echart3>
               </div>
               
            </div>
          
          
           


        </div>
    </div>
    <div class="con2">
        <div class="con2-left left">
            <div class="echartBox1 bg">
                
                 <div>我是下左</div> 
                 <app-echart5></app-echart5>
            </div>
        </div>
        <div class="con2-center left">
            <div class="echartBox1 bg">我是下中</div>
        </div>
        <div class="con2-right left">
            <div class="echartBox1 bg">
                
            <div>   我是下右</div>  
            <app-echart4></app-echart4>
            </div>
        </div>
    </div>
</div>
